# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\evan_\OneDrive\Desktop\School\Sophmore Year\2nd Semester\CS 329\NewsChain\ScrapyAPI\nytapi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
